body{
    background-color:rgb(22, 94, 194);
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
button{
    background-color: black ;
    color: aliceblue;
    padding: 20px;
}
main{
    text-align: center ;
    max-width: 90%;
}
.img01{
    width: 102%;

}
.passo{
    display:none;
}
.passo.ativo{
    display: block;
}